// Type
// $font-headings: var(--font-heading-family);
// $font-body: var(--font-body-family);
// $font-custom-casual: var(--font-custom-casual);
// $font-custom-highlighted: var(--font-custom-highlighted);

// Grid
$sm: 576px;
$md: 750px;
$lg: 990px;
$xl: 1200px;
$xxl: 1400px;

// Colors
// $light: #fff;

// Transitions
// $duration-short: 100ms;
// $duration-default: 200ms;
// $duration-long: 500ms;

// From base :root
// $page-width-x-paddings-mobile: var(--page-width-x-paddings-mobile);
// $page-width-narrow: var(--page-width-narrow);
// $page-width-medium: var(--page-width-medium);
